body{
  background-color: rgb(106, 142, 155);
  
  }
      ul {
          list-style-type: none;
          margin: 0;
          padding: 18px;
          overflow: hidden;
          background-color: lightblue;
        }
        
        li {
          float: left;
        }
        
      
        li a {
          display: block;
          color: rgb(255, 255, 255);
          padding: 8px 16px;
          text-decoration: none;
        }
        
         li a:hover {
          background-color: rgb(106, 142, 155);
          color:white
        }
  
      .caixa{
        height:600px ;
        width: 100%;
        background-color: lightblue;
        margin-top: 5px;
      }
      .caixa1{
        height: 40px;
        width: 100%;
        background-color: rgb(151, 188, 201);
      }

      .fonte{
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 17px;
          color: rgb(106, 142, 155);
          width: 100%;
      }

     .fonte1{
      font-family: fantasy;
      font-size: 30px;
      color: rgb(106, 142, 155);
      width: 97%;

     }

     .fonte2{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 17px;
      color: rgb(106, 142, 155);
      width: 25%;
     }
    .img{
        float: right;
        text-align: center;
    }
   
    .gallery-container {
    padding:15px 25px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(151, 188, 201)
    background-color rgb(106, 142, 155);
    border: none;
    border-radius: 50px;
    box-shadow: 05px rgb(106, 142, 155);
    font-family: cursive;
    }

    .questoes{
    margin-right: 20%;
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    }

    .enem{
      margin-left: 30%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      color: white;
    }

    .imagem{
      float: right;
    }

    .inteligencia{
      margin-left: 30%;
      margin-right: 33%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      color: white;
      background-color: rgb(151, 188, 201);
    }

    .iemocional{
      margin-left: 32%;
      margin-right: 34%;
      font-family: 'Lucida Sans', 
      'Lucida Sans Regular', 'Lucida Grande', 
      'Lucida Sans Unicode', Geneva, Verdana, 
      sans-serif;
      font-size: 17px;
      color: white;
      }

      .caixa2{
        height:80px ;
        width: 100%;
        background-color: rgb(151, 188, 201);
        margin-top: 5px;
        font-family: 'Lucida Sans',
        'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
        font-size: 16px;
        }

        .Politica{
          margin-left: 35%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 40px;
          color: white;
        }

        .texto{
          margin-left: 35.5%;
          margin-right: 34%;
          font-family: 'Lucida Sans', 
          'Lucida Sans Regular', 'Lucida Grande', 
          'Lucida Sans Unicode', Geneva, Verdana, 
          sans-serif;
          font-size: 17px;
          color: white;
        }

        .texto2{
          font-family: 'Lucida Sans', 
          'Lucida Sans Regular', 'Lucida Grande', 
          'Lucida Sans Unicode', Geneva, Verdana, 
          sans-serif;
          font-size: 20px;
          color: white;
          margin-right: 10%;
          margin-left: 10%;
          text-align: justify;
        }

        .noticias2{
          margin-left: 37%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-size: 20px;
         color: white;
        }

        .aulas{
          margin-left: 20%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 40px;
          color: white;}